{{define "content"}}
<div class="form-container">
    <h2>{{T "WelcomeBack"}}</h2>
    <form hx-post="/login" hx-swap="none">
        {{ .csrfField }}
        <div class="form-group">
            <label for="username">{{T "Username"}}</label>
            <input type="text" id="username" name="username" required placeholder="{{T " EnterUsername"}}">
        </div>
        <div class="form-group">
            <label for="password">{{T "Password"}}</label>
            <div class="password-input-wrapper">
                <input type="password" id="password" name="password" required placeholder="{{T " EnterPassword"}}" style="padding-right: 4rem;">
                <button type="button" class="btn btn-secondary password-toggle" onclick="toggleInputPassword(this, 'password')" aria-label="{{T "ShowPassword"}}">{{T "Show"}}</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" hx-disabled-elt="this">
            <span class="btn-default-text">{{T "Login"}}</span>
            <span class="btn-loading-indicator">{{T "LoggingIn"}}</span>
        </button>
    </form>
    <p>{{T "NoAccount"}} <a href="/signup">{{T "Signup"}}</a></p>
</div>

<script>
    document.body.addEventListener('loginError', function (evt) {
        window.showModal({
            title: '{{T "LoginFailed"}}',
            message: '{{T "InvalidCredentials"}}',
            primaryText: '{{T "Close"}}'
        });
    });
</script>

{{end}}