name: Go CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
        cache: true

    - name: Install dependencies for SQLite
      run: sudo apt-get update && sudo apt-get install -y gcc libc6-dev sqlite3 libsqlite3-dev

    - name: Run tests
      run: go test -v ./...

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
        cache: true

    - name: Install dependencies for SQLite
      run: sudo apt-get update && sudo apt-get install -y gcc libc6-dev sqlite3 libsqlite3-dev

    - name: Build
      run: CGO_ENABLED=1 go build -v -o stockex main.go

  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: stockex:latest
